/* ZOOM IMAGE */
.zoom-container {
  overflow: hidden;
  position: relative;
}

.zoom-image {
  height: 400px;
  object-fit: cover;
  transition: transform 0.4s ease;
}

.zoom-container:hover .zoom-image {
  transform: scale(1.03); /* zoom 120% */
}

/* OTHER TIP */
.pointer {
  cursor: pointer;
}

/* Main color settings */
.color_main {
  color: var(--color-card);
}

.main-color {
  color: var(--color-card);
}

.main-color:hover {
  background: linear-gradient(135deg, var(--color-card), var(--color-card));
  color: var(--color-text-main) !important;
  transition-duration: 0.1s;
}


.title-area {
  min-height: 60px;
}
