/* ZOOM IMAGE */
.zoom-container {
  overflow: hidden;
  position: relative;
}

.zoom-image {
  object-fit: cover;
  transition: transform 0.4s ease;
}

.zoom-container:hover .zoom-image {
  transform: scale(1.05);
  /* zoom 120% */
}

/* OTHER TIP */
.pointer {
  cursor: pointer;
}

/* Main color settings */
.color-gray{
  color: var(--gray);
}
.color-red {
  color: var(--color-red) !important;
}
.color-pink {
  color: var(--color-red);
}

.color-pink:hover {
  background: var(--gradient-pink-hover) !important;
  color: white;
}

.color_main {
  color: var(--color-card);
}

.color-green {
  transition: all 0.4s ease;
  color: var(--color-green);
}
.color-green-hv:hover {
  transition: background 0.4s ease, transform 0.4s ease;
  background: var(--gradient-green-hover) !important ;
}

.main-color {
  color: var(--color-card);
}

.main-color:hover {
  background: linear-gradient(135deg, var(--color-card), var(--color-card));
  color: var(--color-text-main) !important;
  transition-duration: 0.1s;
}

.title-area {
  min-height: 60px;
}

.bg-gradient-gray {
  background: var(--gradient-box-w);
}
/* POST */

.aligncenter {
  img {
    margin-left: auto !important;
    margin-right: auto !important;
  }
}
