:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --gray: #585a5e;
  --font-primary: "Poppins", sans-serif;
  --color-body: #ffedd3;
  /* --color-card: #ff014f; */
  /* Xanh đậm cho card, hover */
  --color-card: rgb(237 157 71);
  --color-red: #f80057;
  --color-green: #04b343;
  --shadow-white-3: 5px 5px 15px #d1d9e6, -5px -5px 15px #fff;
  --shadow-white-3: 5px 5px 15px #d1d9e6, -5px -5px 15px #fff;
  /* Accent nổi bật */

  /* gradient */
  --gradient-box-w: linear-gradient(145deg, #e2e8ec, #fff);
  --gradient-red-hover: linear-gradient(145deg, #ff014f, #d11414);
  --gradient-pink-hover: linear-gradient(145deg, #ff7ca5, #f58b8b);
  --gradient-green-hover: linear-gradient(145deg, #4fc577, #15af4a);
  --gradient-main: linear-gradient(134deg, #ffe0d1, #fff);

  /*  */
  --color-text-main: #8b8b8b;
  /* Chữ chính */
  --color-text-muted: #bbbbbb;
  /* Chữ phụ mờ */
  /* background: linear-gradient(135deg, #f80057, #db002f); */
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--color-body);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@import "tailwindcss";
@import "./assets/css/tooltip.css";
@import "./assets/css/modal.css";

.no-wrap {
  display: block;
  white-space: nowrap;
  /* Không cho xuống dòng */
  overflow: hidden;
  /* Ẩn phần bị tràn */
  /* text-overflow: ellipsis; */
  /* Thêm dấu ... */
  max-width: 100%;
  /* Giới hạn chiều rộng */
  display: inline-block;
  /* Để các thuộc tính trên hoạt động */
  cursor: pointer;
  /* Cho cảm giác có thể tương tác */
}

body {
  font-family: var(--font-primary);
  background: linear-gradient(134deg, #ffe0d1, #fff);
  font-size: 1.12rem;
  /* transform: scale(1.1); */
}

.text-muted {
  color: var(--color-text-muted);
}

#root {
  margin: auto;
  width: 100%;
  min-height: 1000px;
}

/* BEGIN HEADER */

.header-left::before {
  background: #dce1e4;
  bottom: 0;
  content: "";
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 1px;
}

.header-right {
  display: flex;
  .header-right_left {
    margin-right: 80px;
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 1200px) {
}

.form-header {
  z-index: 5;
  margin-top: -100px;

  img {
    /* width: 355px !important; */
    height: 180px;
    /* position: relative; */
    /* top: -70px;
     */
  }
}

@media only screen and (max-width: 992px) {
  .header-left::before {
    background: #dce1e4;
    bottom: -13px;
    content: "";
    height: 1px;
    position: absolute;
    right: 0%;
    left: 2%;
    top: 100%;
    width: 100%;
  }
  .header-right {
    padding-left: 16%;
    text-align: justify;
  }
  .my-info {
    justify-content: center;
  }
}
@media only screen and (max-width: 768px) {
  .header-right {
    text-align: center;
  }
  .box-right {
    margin-left: -24px !important;
  }
}

.bg-header {
  border-radius: 20px;
  /* background: linear-gradient(45deg, #fffcf6, #fff0d9); */
  img {
    background: #fffaf3;
    border-radius: 10% !important;
  }
}

.header-thumbnail {
  min-width: 190px;
  border-color: #ecf0f3;
  border: 5px solid #ecf0f3;
  border-radius: 15px;
  max-height: 200px;
  position: relative;
  top: -80px;
  background: black;
  min-width: 190px;
  margin-right: 30px;
}

.social-share {
  button {
    height: 53px;
    line-height: 53px;
    width: 53px;
    transition: all 0.05s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  }

  button:hover {
    transform: translateY(-5px);
    transition-duration: 0.05s;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    background: linear-gradient(135deg, #ebc8a2, #f3d9be);
    color: white !important;
    cursor: pointer;

    .text-muted {
      transition-duration: 0.3s;
      color: rgb(255, 255, 255) !important;
    }
  }
  svg {
    font-size: 20px;
    margin: auto;
  }
}

/* END HEADER */
/* --------------------------------------------------- */

/* BEGIN CONTENT */

.menu {
  font-size: 1.25rem;
  padding-left: 0px;

  /* width: 95%; */
  > div {
    width: 190px;
  }
}

.nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
}

.nav-link.active,
.nav-link:hover {
  background-color: var(--color-card) !important;
  color: var(--color-text-main) !important;
  color: white !important;
  border-radius: var(--bs-border-radius) !important;
}

/*  */

.edu-card {
  transition: all 0.05s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.edu-card:hover {
  /* transform: translateY(-5px); */
  transition-duration: 0.05s;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  background: linear-gradient(135deg, #ed9d47, #af7436);
  color: white !important;
  cursor: pointer;

  .text-muted {
    transition-duration: 0.3s;
    color: white !important;
  }
}

.edu-card-2:hover {
  transition-duration: 0.05s;
  /* background: linear-gradient(135deg, #bfbebc, #4f4e4e); */
  background: linear-gradient(135deg, #ffe3ab, #f9ded5);
  li {
    color: #8b8b8b;
  }
  a {
    color: rgb(255, 255, 255) !important;
  }
}

.edu-card-3:hover {
  transition-duration: 0.05s;
  background: var(--gradient-red-hover);

  color: rgb(255, 255, 255) !important;
}

.color-pink {
  color: var(--color-red);
}
.color-pink:hover {
  background: var(--gradient-pink-hover) !important;
  color: white;
}
.score-badge {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 6px 12px;
  border-radius: 8px;
  font-size: 0.8rem;
  background: var(--color-card);
  color: white;
  box-shadow: 0 3px 4px rgb(113 113 112);
}

/* Animated Progress */

.progress.gradient-bar {
  height: 15px;
  background-color: #e4e4e4;
  border-radius: 10px;
  overflow: hidden;
  padding: 2px;
}

.progress-bar {
  background: linear-gradient(to right, #ffffff, #9f9397);
  height: 100%;
  transition: width 1.5s ease-in-out;
  border-radius: 10px;
}
/* Avatar */

.my-avatar {
  margin-top: 0;
  padding-right: 44px;
  background: linear-gradient(45deg, #ffe0d1, #fff);
  .zoom-image {
    transform: scale(1.03);
    object-fit: cover;
    transition: transform 0.4s ease;
    position: relative;
    left: 25px;
  }
}
/* My Page */

.my_page {
  .my-card {
    /* width: 90%; */
    background: var(--gradient-box-w);
    box-shadow: var(--shadow-white-3);
    img {
      height: 187px;
      object-fit: cover;
      border-radius: var(--bs-border-radius) !important;
    }
    .title {
      span {
        align-items: center;
        height: 20px;
      }
    }
  }
}
/* Mypage */

.my_page_container {
  display: flex;
  .col-md-4 {
    width: 30.333333% !important;
    margin-right: 20px;
  }
}

.button_model_project {
  text-decoration: none;
  button {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
